<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User | Create Account</title>
</head>
<body>
    <header>
        <h1>Create Account</h1>
        {% if smessage %}
            <div>
                {{smessage}}
            </div>
        {% endif %}
        {% if umessage %}
            <div>
                {{umessage}}
            </div>
        {% endif %}
    </header>
    <main>
        <form action="/create_account" method="post">
            <label for="email">Email:
                <input type="email" name="name"  placeholder="Enter your email">
            </label>
            <label for="password">Password:
                <input type="password" name="password"  placeholder="Password">
            </label>
            <button type="submit" name = "submit">Create Account</button>
        </form>
    </main>
</body>
</html>