body  
{  
    margin: 0;  
    padding: 0;  
    background-color:rgb(255, 255, 255);  
    font-family:sans-serif;  
}  
.container{  
    align-self:center;
        width: 382px;  
        overflow: hidden;  
        margin: auto;  
        margin: 10 0 0 450px;  
        padding: 60px;  
        background: #98b3ac;  
        border-radius: 15px ;  
          
}  
#wel{  
    text-align:start;  
    color: #000000;  
    padding: 0px;
}
#for {
    color: #000;
    font-size: small;
    text-align:right;
    padding-right: 75px;
    padding-top: 5px;
    padding-bottom: 15px;
}
label{  
    color: #ffffff;  
    font-size: 17px;  
}  
#email{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
}  
#password{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
      
}  
#submit{
    width: 250px;  
    height: 30px;  
    border:#98b3ac;  
    border-radius: 19px; 
    /* padding-left: 7px;
    padding-right: 10px; */
    color: #000000;  
    
  
  
}  
span{  
    color: rgb(212, 212, 212);  
    font-size: 17px;  
}  
a{  
    float: right;  
    background-color:  #98b3ac;  
}  