/* body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right, rgb(255, 255, 255) , rgb(251, 251, 251));
  font-family: sans-serif;
}
p.solid{border: solid blue;}
.container {
  border: solid 2px;
  align-self: center;
  width: 310px;
  overflow: hidden;
  margin: auto;
  margin: 10 0 0 450px;
  padding: 35px;
  background: #62abff;
}
#wel {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: start;
  color: #000000;
  padding: 0px;
}
#for {
  color: #000;
  font-size: small;
  margin:0px 33px;
  padding: 0;
  /* text-align: right; */
  /* padding-right: 60px; */
  /* padding-top: px; */
  /* padding-bottom: 15px; */
/*}
label {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #233144;
  font-size: 17px;
}
#email {
  width: 240px;
  height: 30px;
  border: none;
  border-radius: 13px;
  border-radius: 3px;
  padding-left: 8px;
}
#password {
  width: 240px;
  height: 30px;
  border: none;
  border-radius: 13px;
  padding-left: 8px;
}
#submit {
  background-color: #233144;
  width: 150px;
  height: 30px;
  border: solid rgb(29, 46, 77);
  border-radius: 20px;
  border-radius: 19px;
  /padding-left: 7px;
    padding-right: 10px;
  color: #ffffff;
  cursor: pointer;
}
span {
  color: rgb(212, 212, 212);
  font-size: 17px;
}
a {
  float: right;
  background-color: #62abff;
  ;
}

#umessage {
  width: 100px;
  height: 100px;
} */