<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User | Create Account</title>
    <link
      href="/templates/create_account.css"
      rel="stylesheet"
      type="text/css"
    />
  </head>

  <body>
    <header>
      <h1>ADMIN ACCESS ONLY</h1>
      <h3>LOGIN FOR THE PORTAL</h3>
      {% if smessage %}
      <div id="umessage">{{smessage}}</div>
      {% endif %} {% if umessage %}
      <div>{{umessage}}</div>
      {% endif %}
    </header>
    <main>
      <div class="container">
        <h1 id="wel">Welcome</h1>
        <br>
        <form action="/create_account" method="post">
          <label for="email"
            >
            <br />
            <input
              type="email"
              name="name"
              id="email"
              placeholder="Enter your email"
            />
          </label>
          <br />
          <label for="password"
            >

            <input
              type="password"
              name="password"
              id="password"
              placeholder="Password"
            />
          </label>
          <br />
          <a id="for" href="/forgot_password" style="text-decoration: none"
            >Forgot Password ?</a
          >
          <br />
          <br>
          <label for="Create Account">
            <button type="submit" class="effect" id="submit" name="Create Account">
              Create Account
            </button>
          </label>
        </form>
      </div>
    </main>
  </body>
</html>
