/* *{
  box-sizing: border-box;
}

body{
  background-color: rgb(205, 245, 255);
}

.navabar {
  font-family: sans-serif;
  text-align: center;
  /* width: 100%; */
  background-color: rgb(125, 211, 233);
  margin-left: 2%;
  margin-right: 2%;
  /* text-shadow: 2px 2px slategray; */
  box-shadow: 2px 4px;
}


.search {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  align-items: center;
  font-family: sans-serif;
  margin-left: 2%;
  margin-right: 2%;
}

#searchbar {
  border-color: rgb(118, 224, 189);
  width: 550px;
  height: 40px;
}

#serachbutton {
  border-color: rgb(118, 224, 189);
  width: 50px;
  height: 40px;
}

#Alerts {
  border-color: rgb(118, 224, 189);
  border-radius: 30px;
  /* margin-left: 780px; */
  width: 100px;
  height: 40px;
}

#logout {
  border-color: rgb(118, 224, 189);
  border-radius: 30px;
  width: 100px;
  height: 40px;
}

.graph{
  overflow: hidden;
  width: 100%;
  max-width: 500px;
  height: auto;
  margin-left: 2%;
  border: rgb(118, 224, 189) 3px solid;
}

.sales {
  margin-top: 1%;
  font-family: sans-serif;
  display: flex;
  flex-direction: row;
  margin-left: 2%;
}



































/* *{
  box-sizing: border-box;
}

body{
margin-left: auto;
height: 100%;
top: 0;
bottom: 0;
left: 0;
right: 0;
}

#container {
  background-color: rgb(118, 169, 192);
  font-family: sans-serif;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* display: ;
}

#navabar {
  background-color: cornsilk;
  width: 100%;
  margin: 0%;
  padding: 0%;
}

form.example input[type=text] {
  display: flex;
  padding: 10px;
  font-size: 17px;
  margin-left: 250px;
  border: 1px solid grey;
  float: left;
  width: 50%;
  background: #f1f1f1;
}

Style the submit button
form.example button {
  width: 40px;
  height: 42px;
  margin: 15px; */
  /* height: 50%; */
  /* margin-left: 2px;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
  transform: scale(0.9);
}

form.example input:hover {
  transform: scale(1.2);
}


form.example::after {
  content: "";
  clear: both;
  display: table;
}

.out {
  background-color: darkblue;
  display: flex;
  flex-direction: row;
  width: 150px;
  height: 40px;
}

.mainsearch {
  position: relative;
  display: flex;
  flex-direction: row;
} */ */