<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User | Reset Your Password</title>
    <link href="forgot_password.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header>
        <h1>Reset Your Password:</h1>
        {% if smessage %}
            <div>
                {{smessage}}
            </div>
        {% endif %}
        {% if umessage %}
            <div>
                {{umessage}}
            </div>
        {% endif %}
    </header>
    <main>
        <div class="container">
            <h2 id="wel">Reset Your Password:</h2>
        <form action="/forgot_password" method="post">
            <label for="email">Email
                <br>
                <input type="email" name="name" id="email" placeholder="Enter your email">
            </label>
            <br>
            <br>
            <!-- <button type="submit" name = "submit">Create Account</button> -->
            <input type="submit" name="name" id="submit">
        </form>
    </main>
</div>
</body>
</html>