<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .graph{
            overflow: hidden;
            width: 100%;
            max-width: 500px;
            height: auto;
            border: black 3px solid;
        }
    </style>
</head>
<body>
    <div class="graph">
        <canvas id="myChart"></canvas>
    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: ["06/01", "13/01", "20/01", "27/01", "06/02", "13/02", "20/02", "27/02"],
        datasets: [{
            label: 'No. of items sold',
            fill: true,
            lineTension: 0,
            data: [12, 19, 3, 5, 20, 3, 7, 4], 
            
            borderColor: "rgba(0, 0, 0, 1)",
            // hoverBorderColor: "rgba(0, 255, 0, 1)",
            borderWidth: 1,

            pointBackgroudColor: "rgba(255, 0, 0, 1)"
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>
</html>