<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1 | Transactions</title>
    <script>
        window.onload = function() {
            setTimeout(function(){window.location.reload(1);}, 15000);
        };

    </script>
</head>
<style>

.table-heading {
  font-size: large;
}

.tablerow1 {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

.refresh {
    margin: 0px 10px;
}




</style>

<body>
<div class="tablerow1">
    <table class="table1">
        <tr class="heading">
            <th colspan="3">Live Orders</th>
        </tr>
        <tr class="table1__header">
            <th class="table1__cell">Recent updates</th>
        </tr>
        {% for log in data%}
        <tr>
            {{log}}
        </tr>
        <br>
        {% endfor %}
    </table>
</div>
</body>

</html>