<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User | Sign-Up</title>
    <style>
        body{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        input{
            position: relative;
        }
        footer{
            margin: 2em auto;
        }
    </style>
</head>
<body>
    <header><h1>Sign-Up</h1></header>
    <main>
        <h3>User Name</h3>
        <input type="text" name="username" id="username">
        <h3>Password</h3>
        <input type="password" name="password" id="password">
        <h3>Re-Enter Your Password</h3>
        <input type="password" name="conf-password" id="confirm">
    </main>
    <footer>
        <a id = "index" href="login"><input type="button" value="Submit"></a>
    </footer>
</body>
</html>